<div id="mySidenav" class="side-navbar">
    <a class="closebtn btn btn-search" onclick="closeSideNavbar()">&times;</a>

  <button class="btn btn-group w-100 border  border-1  border-dark-subtle m-1 " type="button" id="triggerId"
        onclick="OpenWareGroup()">
        Waregroups
    </button>


    <button class="btn btn-group w-100 border  border-1  border-dark-subtle m-1 " type="button" id="triggerId"
        onclick="OpenWareSubGroup()">
        Waresubgroups
    </button>


    <button class="btn btn-group w-100 border  border-1  border-dark-subtle m-1 " type="button" id="triggerId"
         onclick="OpenWares()">
        Wares
    </button>

</div>